<%- include('header') -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque fugit ex modi praesentium! Necessitatibus, dolor a! Porro recusandae blanditiis nulla quasi ipsum officiis aperiam, libero maiores dolor possimus itaque sint et eos architecto, eaque cum adipisci ex ab velit quo voluptates iste? Quaerat, soluta laborum?</p>
<%- include('footer') -%>